html, body, #root, .App, #AppContainer {
  height: 100%; /* Ustawienie pełnej wysokości dla całej aplikacji */
  margin: 0;
  padding: 0;
}

#AppContainer {
  flex-grow: 1; /* Sprawi, że AppContainer wypełni dostępne miejsce */
  display: flex;
  flex-direction: column;
}


.App {
  display: flex;
  flex-direction: column;
}

iframe {
  flex-grow: 1; /* Zapewnia, że iframe zajmie całą dostępną przestrzeń */
}


.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ustaw niski z-index, aby inne elementy były nad cząsteczkami */
}
